body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #610000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.joining-message {
    color: green;
    font-weight: bold;
    text-align: center;
}


#chat {
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px rgb(251, 15, 15) groove;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #033ec6;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 370px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form {
    display: flex;
    margin-top: 20px;
}

#message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: #0056b3;
}
